<style type="text/css">

/**/
</style>
<!--[if lt IE 8]><style>
.wraptocenter span {
    display: inline-block;
    height: 100%;
}
</style><![endif]-->

<div id="pgSideWrap" style="text-align: center; margin: 0 auto">
  <h1>PGDay 2012 Austin</h1>
  <div style="width:195px; text-align:center;" >
    <iframe src="http://www.eventbrite.com/countdown-widget?eid=2980126639" frameborder="0" height="285" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true">
    </iframe>
    <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" >
      <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/ecount" >
        Event registration
      </a>
      <span style="color:#ddd;" > for </span>
      <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://austinpgday.eventbrite.com?ref=ecount" >
        PG Day Austin
      </a>
    </div>
  </div>
  <h1>Sponsors</h1>
  <p>
    <a href="http://www.enterprisedb.com">
      <img src="http://pgday.austinpug.org/static/images/edb.jpg" />
    </a>
  </p>
  <p>
    <a href="http://www.2ndquadrant.com">
      <img src="http://pgday.austinpug.org/static/images/2ndquad.png" />
    </a>
  </p>
  {% if sponsors %}
    {% regroup sponsors by category as sponsor_list %}
    {% for category in sponsor_list %}
      <h2>{{ category.grouper }}</h2>
      {% for item in category.list %}
        {% for sponsor in item.sponsors %}
          <p>
            <a href="{{ sponsor.url }}">
              <img src="{{ sponsor.logo.url }}" />
            </a>
          </p>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>