{% load markup %}
<!DOCTYPE html>
<html>
  <head>
    <title>Austin PostgreSQL User Group - {% block title %}Welcome{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
    <style type="text/css" media="screen" title="Normal Text">@import url("{{ STATIC_URL }}css/screen.css");</style>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9595696-5']);
  _gaq.push(['_setDomainName', 'pgday.austinpug.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
    <div id="pgContainerWrap">
      <div id="pgContainer">
        <div id="pgHeaderContainer">
          <div id="pgHeader">
            <div id="pgHeaderLogoLeft">
              <a href="{% url home %}">
                <img alt="PostgreSQL" src="/static/images/layout/logo.png" />
              </a>
            </div>
            <div id="pgHeaderCenter"></div>
            <div id="pgHeaderLogoRight">
              <a href="{% url home %}">
                <img width="210" height="80" alt="The world's most advanced open source database." src="/static/images/layout/hdr_right.png" />
              </a>
            </div>
          </div> <!-- pgHeader -->
          <div id="pgTopNav">
            <div id="pgTopNavLeft">
              <img width="7" height="23" alt="" src="/static/images/layout/nav_lft.png" />
            </div>
            <div id="pgTopNavRight">
              <img width="7" height="23" alt="" src="/static/images/layout/nav_rgt.png" />
            </div>
            {% include '_nav.html' %}
          </div> <!-- pgTopNav -->
        </div> <!-- pgHeaderContainer -->
        <div id="pgContent">
          {% block content %}{% endblock content %}
          <br class="pgClearBoth" />
        </div> <!-- pgContent -->
      </div>
    </div> <!-- pgContainerWrap -->
  </body>
</html>