{% extends 'base.html' %}
{% load markup %}
{% block content %}
  <div id="contact">
    <div id="pgContentWrap">
      <h1>Contacting The Organizers</h1>
      <p>
        If you have any questions or comments, or would like to submit a topic for discussion, please use one of the following methods to get in touch with us:
      </p>
      <p>
        <ul>
          <li>EMail: <a href="mailto:pgday@austinpug.org">pgday AT austinpug DOT org</a></li>
          <li>Meetup: <a href="http://www.austinpug.org">http://www.austinpug.org</a></li>
          <li>Mailing List: <a href="http://lists.austinpug.org/mailman/listinfo/pgday-attendees">pgday-attendees @ lists.austinpug.org</a></li>
        </ul>
      </p>
    </div>
    {% include '_sponsors.html' %}
  </div>
{% endblock content %}