{% extends 'base.html' %}

{% block content %}
  <div id="speakers">
    <div id="pgContentWrap">
      <h1>Speaker Bios</h1>
      <p>We are pleased to welcome the following speakers for PG Day Austin 2012</p>
      
      <h2>Josh Berkus</h2>
      <p>Josh Berkus is a member of the Core Team of PostgreSQL.</p>
      <p>He is also president of PostgreSQL Experts Inc., and consults on database performance, scalability architecture, data warehousing, and open source community management. In addition to PostgreSQL, he is involved with CouchDB, Redis, Hadoop, Drizzle, and many open source projects. Josh is also a potter and amateur chef.</p>
      
      <h2>Magnus Hagander</h2>
      <p>Magnus Hagander is a developer and a committer in the PostgreSQL Global Development Group.</p>
      <p>Magnus is one of the original developers of the Windows port of PostgreSQL, and currently a part of the team that maintains it. These days, he mostly works on other parts of the PostgreSQL backend, recently with a focus on security features such as authentication and encryption.</p>
      <p>He is also one of the core members of the postgresql.org infrastructure team, maintaining the servers that power the project, and one of the maintainers of the postgresql.org website. He also contributes to pgAdmin and other related projects.</p>
      <p>He's been a PostgreSQL user since version 6 (with some non-serious use of Postgres 95 before that), and currently serves as President of the Board for PostgreSQL Europe.</p>
      <p>To pay the bills, he is a PostgreSQL and open source software consultant at Redpill Linpro in Stockholm, Sweden, where he works on consulting, support and training services, as well as custom development work.</p>

      <h2>Bruce Momjian</h2>
      <p>Bruce Momjian is a co-founder of the PostgreSQL Global Development Group, and has worked on PostgreSQL since 1996. He is the author of PostgreSQL: Introduction and Concepts, published by Addison-Wesley. Bruce is employed by EnterpriseDB.</p>
      <p>Previously, he was employed by SRA Japan and Great Bridge LLC, both PostgreSQL support companies. He has spoken at many international open-source conferences. Prior to his involvement with PostgreSQL, Bruce worked as a consultant, developing custom database applications for some of the world's largest law firms. As an academic, Bruce was a high school computer science teacher for five years, holds a Masters in Education, and is an adjunct professor at Drexel University.</p>

      <h2>Greg Smith</h2>
      <p>Greg Smith leads the US-based work for international PostgreSQL services firm 2ndQuadrant. He's the author of "PostgreSQL 9.0 High Performance", available from Packt Publishing.<p>
      <p>His past work on PostgreSQL includes rewriting the database's background writer, releasing its first open-source tuning configuration tool, and introducing the first tools featuring transaction latency graphing as a technique for analyzing performance over time.</p>
      
    </div>
    {% include '_sponsors.html' %}
  </div>
{% endblock content %}